<h1>
  Recipes
  <div class="recipe-editor">
    <% if logged_in? %>
      <%= link_to "Add new recipe", new_recipe_path, class: "btn btn-sm btn-primary" %>
    <% end %>
  </div>
</h1>

<div class="recipes">
  <ul>
    <%= render partial: "shared/recipes", collection: @recipes, as: :recipe %>
  </ul>
</div>
