<h1>Recipes</h1>

<div class="recipes">
  <ul>
    <% @recipes.each do |recipe| %>
      <li>
        <%=  link_to recipe.title, recipe_path(recipe), id:"recipe_title" %>
        <p><%= recipe.time %>min | <%= recipe.average_rate %> | <%= recipe.reports.count %>reports</p>
      </li>
    <% end %>
  </ul>
</div>
