<h1>Sign up</h1>
<%= render partial: "form", locals: {user: @user, submit_btn: "Sign up"} %>
<%= link_to("Sign up with google", "/auth/google_oauth2") %>
<%= link_to("Sign up with facebook", "/auth/facebook") %>
