<% if rate >= 4.8 %>
  <div class="lg-star-icon lg-star-5-0"></div>
<% elsif rate >= 4.3 %>
  <div class="lg-star-icon lg-star-4-5"></div>
<% elsif rate >= 3.8 %>
  <div class="lg-star-icon lg-star-4-0"></div>
<% elsif rate >= 3.3 %>
  <div class="lg-star-icon lg-star-3-5"></div>
<% elsif rate >= 2.8 %>
  <div class="lg-star-icon lg-star-3-0"></div>
<% elsif rate >= 2.3 %>
  <div class="lg-star-icon lg-star-2-5"></div>
<% elsif rate >= 1.8 %>
  <div class="lg-star-icon lg-star-2-0"></div>
<% elsif rate >= 1.3 %>
  <div class="lg-star-icon lg-star-1-5"></div>
<% elsif rate >= 0.8 %>
  <div class="lg-star-icon lg-star-1-0"></div>
<% elsif rate >= 0.3 %>
  <div class="lg-star-icon lg-star-0-5"></div>
<% else %>
  <div class="lg-star-icon lg-star-0-0"></div>
<% end %>
