@import "bootstrap-sprockets";
@import "bootstrap";

/* body */
body {
  margin-bottom: 50px
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

@media (max-width: 767px) {
  nav {
    clear: both;
  }

  li a#home {
    display: none;
  }
}

/* container next to header */

@media (max-width: 767px) {
  header + div.container {
    margin-top: 130.5px;
  }
}

@media (min-width: 768px) {
  header + div.container {
    margin-top: 51px;
  }
}

/* searchbox */

.checkbox#only {
  margin-left: 20px;

  input[type="checkbox"] {
    margin-left: 0px;
  }

  label {
    margin-bottom: 5px;
    font-weight: bold;
  }
}

/* recipe */

h1 div.recipe-editor {
  display: inline-block;
  margin-left: 10px;
}

h2 div.recipe-editor {
  display: inline-block;
  margin-left: 10px;
}

h2 div.report-editor {
  display: inline-block;
  margin-left: 5px;
}

/* report */

li div.report-editor {
  display: inline-block;
  margin-left: 5px;
}

/* user */

h1 div.user-editor {
  display: inline-block;
  margin-left: 10px;
}


/* stars */

div.sm-star-icon {
  width: 80px;
  height: 18px;
  background-image: image-url("small_stars.png");
  -webkit-background-size: 339px 20px;
  background-size: 339px 20px;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;;
}

div.sm-star-5-0 {
  background-position: -4px;
}

div.sm-star-4-5 {
  background-position: -174px;
}

div.sm-star-4-0 {
  background-position: -20px;
}

div.sm-star-3-5 {
  background-position: -190px;
}

div.sm-star-3-0 {
  background-position: -36px;
}

div.sm-star-2-5 {
  background-position: -206px;
}

div.sm-star-2-0 {
  background-position: -52px;
}

div.sm-star-1-5 {
  background-position: -222px;
}

div.sm-star-1-0 {
  background-position: -68px;
}

div.sm-star-0-5 {
  background-position: -238px;
}

div.sm-star-0-0 {
  background-position: -84px;
}

div.lg-star-icon {
  width: 95px;
  height: 20px;
  background-image: image-url("large_stars.png");
  -webkit-background-size: 339px 20px;
  background-size: 400px 28px;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;;
}

div.lg-star-5-0 {
  background-position: -5px;
}

div.lg-star-4-5 {
  background-position: -205px;
}

div.lg-star-4-0 {
  background-position: -24px;
}

div.lg-star-3-5 {
  background-position: -224px;
}

div.lg-star-3-0 {
  background-position: -43px;
}

div.lg-star-2-5 {
  background-position: -243px;
}

div.lg-star-2-0 {
  background-position: -62px;
}

div.lg-star-1-5 {
  background-position: -262px;
}

div.lg-star-1-0 {
  background-position: -81px;
}

div.lg-star-0-5 {
  background-position: -281px;
}

div.lg-star-0-0 {
  background-position: -100px;
}

/* form */

li .form-control {
  display: inline-block;
  margin-bottom: 10px;
}

li .form-inline .form-control {
  margin-right: 10px;
}

div#form_error ul {
  color: #a94442
}

div.field_with_errors input.form-control {
  border-color: #c75351
}

/* alert */

.alert {
  margin-top: 20px;
  margin-bottom: 10px;
}
